.container{
    width: auto;
    background-color: silver;
    margin: auto; 
    padding-top: 10px;
}
.top-nav {
    width: 1250px;
    height: 200px;
    margin: 20px;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: green;
}
.side-nav, .main, .sub-content{
    display: inline-block;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin-left: 20px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 1065px;
    background-color: red;
    vertical-align: top;
    margin-left: 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    padding: 0;
    border: 0;
    background-color: yellow;
    margin-top: 20px; margin-right: 10px; margin-bottom: 20px; margin-left: 20px;
}
#advertisement {
    height: 120px;
    width: 700px;
    background-color: purple;
    margin-left: 20px;
}

